*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.sdf
[Bb]in
[Dd]ebug*/
*.sbr
[Oo]bj/
[Rr]elease*/
_ReSharper*/
packages/
*.jmconfig
TestResults/
ipch
x64
[Ll]ib/
[Bb]uild/